header {
    background-color: #212A33;
    height: 68px;
    display: flex;
    justify-content: space-between;
  }
   
  header .wu-header-logo {
    height: 100%;
    margin-left: 50px;
    padding: 7px;
    justify-content: center;
    /* padding: 2%; */
  }
   
  .wu-header-logo>img {
    height: 100%;
    vertical-align: middle;
    /* width: 50px; */
  }
  .wu-header-content{
      display: flex;
      align-items: center;
  }
  .wu-header-content>li{
      padding-left: 15px;
      padding-right: 15px;
      height: 100%;
      display: flex;
      align-items: center;
  }
  .wu-header-content>li,.wu-header-content>li>a {
    color: #fff;
    font-size: 14px;
  }
  .wu-header-content>li:nth-child(5){
      border-left: 1px solid #777;
      border-right:1px solid #777;
     
  }

  .menu-icon{
    position: relative;
    cursor: pointer;
  }

  .dropdown-menu{
    position: relative;
    top: 100%;
    left: 0;
    display: none;
    list-style-type: none;
  }

  .dropdown-menu.active{
    display: block;
  }

  .dropdown-menu li{
    background-color: #f8f8f8;
  }

  .dropdown-menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
  }

  .dropdown-menu li a:hover {
    background-color: #000000;
  }

    /* .menu-icon{
      display: block;
    }

    .menu{
      display: none;
      list-style-type: none;
    }

    .menu.active{
      display: block;
    } */
   