<!-- <nav style="background-color: aquamarine;">
  Western Union
  <a routerLink="/send">Send Money</a>
  <a [hidden]="changeHeader" routerLink="/track">Track Transfer</a>
</nav> -->
<header>
    <div class="wu-header-logo">
      <img src="https://www.westernunion.com/content/dam/wu/logo/logo.wu.big.svg" alt="wu-logo">
    </div>
    <ul *ngIf="!changeHeader" class="wu-header-content">
      <li><a  routerLink="/send">Send Money</a></li>
      <li><a  routerLink="/track">Track Transfer</a></li>
      <li><a  routerLink="/track">Find Locations</a></li>
      <li><a  routerLink="/track">Help</a></li>
      <li  >menu</li>
      <li  >
          <i>b</i>
          <a href="#">Test</a>
          <a href="/">Log out</a>
      </li>
    </ul>
  </header>