header {
    background-color: #212A33;
    height: 75px;
    display: flex;
    justify-content: space-between;
  }
   
  header .wu-header-logo {
    height: 100%;
    margin-left: 50px;
    padding: 7px;
    justify-content: center;
    /* padding: 2%; */
  }
   
  .wu-header-logo>img {
    height: 100%;
    vertical-align: middle;
    /* width: 50px; */
  }
  .wu-header-content{
      display: flex;
      align-items: center;
      margin-top: 8px;
  }
  .wu-header-content>li{
      padding-left: 25px;
      padding-right: 20px;
      height: 100%;
      display: flex;
      align-items: center;
      /* margin-left: 10px; */
  }
  .wu-header-content>li,.wu-header-content>li>a {
    color: #fff;
    font-size: 20px;
    /* font-weight: bold; */
    text-decoration: none;
  }
  /* .wu-header-content>li:nth-child(5){
      border-left: 1px solid #777;
      border-right:1px solid #777;
     
  } */

  .login{
    /* border: 2px solid #EFE2B5; */
    border-radius: 8px;
    font-size: 18px;
    color: #EFE2B5 !important;
    margin-bottom: 5px;
    margin-top: 0px;
    margin-left: 20px;
  }

  .login2{
      border: 2px solid #EFE2B5;
      padding: 8px;
      border-radius: 8px;
      font-size: 18px;
      color: #EFE2B5 !important;
      margin-bottom: 5px;
      margin-top: 5px;
      margin-left: 20px;
  }

  p{
    font-size: 20px;
    color:  #EFE2B5;
    margin-top: 5px;
    margin-bottom: 3px;
    font-weight: 500;
  }

  .user{
    margin-left: 40px;
    margin-right: 30px;
  }