<div class="send-money">
    <form #sendMoneyForm="ngForm" action="">
      <h3>Send Money Online</h3>
      <div class="send-money-input-section">
        <h6>Your receiver’s country and send amount</h6>
        <div class="country-input-select">
          <div class="country-input">
            <div class="country-input-flag">
              <img [src]="flagImageUrl" alt="Flag Image">
            </div>
            <div class="country-input-text">
              <label for="">Send to</label>
              <input [ngModel]="selectedCountry" (ngModelChange)="filter($event)" name="country" type="text">
            </div>
            <i class="bi bi-search"></i>
          </div>
          <div class="country-select-container" *ngIf="showCountry">
            <div class="country-select-container-child" *ngFor="let country of countries"
              (click)="countryChange(country)">
              <img [src]="country.flagImageUrl">
              <p>{{country.name}}</p>
            </div>
          </div>
        </div>
   
     
        <div class="money-input">
          <div class="money-input-send">
            <label for="">Send amount</label>
            <input [ngModel]="sendMoney" (ngModelChange)="sendMoneyChange($event)" name="sendMoney" type="number">
            <p>{{senderCode}}</p>
          </div>
          <i class="bi bi-arrow-left-right"></i>
          <div class="money-input-receiver">
            <label for="">Receive amount</label>
            <input [ngModel]="receiveMoney" (ngModelChange)="receiveMoneyChange($event)" name="receiveMoney"
              type="number">
            <p>{{currencyCode}}</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="payout">
        <h6>How does your receiver want the money?</h6>
        <div class="payoutCards">
          <div [ngClass]="selectedPayout==='cash'?'selectedCard':'nonselectedCard'" (click)="payoutMethod('cash')">
            <span *ngIf="selectedPayout==='cash'">
              <div class="green-tick"><i class="bi bi-check-lg"></i></div>
            </span>
            <div><img src="assets/images/cash-on-delivery.png" class="payout-images" alt=""></div>
            <p>Cash pickup</p>
          </div>
          <div [ngClass]="selectedPayout==='bank'?'selectedCard':'nonselectedCard'" (click)="payoutMethod('bank')">
            <span *ngIf="selectedPayout==='bank'">
              <div class="green-tick"><i class="bi bi-check-lg"></i></div>
            </span>
            <div #child><img src="assets/images/bank.png" class="payout-images" alt=""></div>
            <p>Bank Acount</p>
          </div>
          <div [ngClass]="selectedPayout==='wallet'?'selectedCard':'nonselectedCard'" (click)="payoutMethod('wallet')">
            <span *ngIf="selectedPayout==='wallet'">
              <div class="green-tick"><i class="bi bi-check-lg"></i></div>
            </span>
            <div><img src="assets/images/wallet.png" class="payout-images" alt=""></div>
            <p>Mobile Wallet</p>
          </div>
        </div>
        <p>
          Your receiver can pick up money from any of our 37,000 agent locations across {{selectedCountry}}.</p>
      </div>
      <hr>
      <div class="payin">
   
        <h6>How would you like to pay?</h6>
        <div>
          <span>
            <div class="green-tick"><i class="bi bi-check-lg"></i></div>
          </span>
          <div><img src="assets/images/cash-on-delivery.png" class="payout-images" alt=""></div>
          <p>Cash</p>
        </div>
      </div>
      <hr>
      <button (click)="onContinue()">Continue</button>
    </form>
  </div>

  
  
