<div class="review">
    <div class="headings">
        <h2>Review and Confirm</h2>
        <p class="first-line">This is not a receipt</p>
    </div>
    <div class="details">
        <div class="sending-details">
            <div>
            <p>SENDING DETAILS</p>
            <hr>
            <div class="flag-name">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1200px-Flag_of_India.svg.png" alt="flag-image">
            <h3>Ankit Singh</h3>
        </div>
    </div>
    <div>
        <p>EXPECTED FOREIGN COUNTRY PAYOUT LOCATION</p>
        <hr>
        <h3>Philippines</h3>
    </div>
        </div>
        <div class="receiving-details">
            <div>
                <p>RECEIVING DETAILS</p>
                <hr>
            <div class="flag-name">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1200px-Flag_of_India.svg.png" alt="flag-image">
                <h3>Ankit Singh</h3>
            </div>
        </div>
        </div>
    </div>
</div>
