<div class="review">
    <div class="headings">
        <h2>Review and Confirm</h2>
        <p class="first-line">This is not a receipt</p>
    </div>
    <div class="details">
        <div class="sending-details">
            <div>
            <p>SENDING DETAILS</p>
            <hr>
            <div class="flag-name">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1200px-Flag_of_India.svg.png" alt="flag-image">
            <h4>Ankit Singh</h4>
        </div>
        <div class="credit-card">
            <img src="" alt="card-image">
            <div class="credit-card-details">
                <h5>Credit Card</h5>
                <p>VISA ending in 1111</p>
            </div>
            
        </div>
    </div>
    <div class="country">
        <p>EXPECTED FOREIGN COUNTRY PAYOUT LOCATION</p>
        <hr>
        <h3 class="country-name">Philippines</h3>
    </div>
        </div>
        <div class="receiving-details">
            <div>
                <p>RECEIVING DETAILS</p>
                <hr>
            <div class="flag-name">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1200px-Flag_of_India.svg.png" alt="flag-image">
                <h4>Ankit Singh</h4>
            </div>
        </div>
        </div>
    </div>
</div>
