.review{
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
}

.first-line{
    margin-top: 28px;
    font-weight: 400;
    font-size: 19px;
}

.details{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sending-details{
    width: 50%;
    margin-right: 50px;
}

.flag-name{
    display: flex;
}

.flag-name>img{
    width: 100px;
    height: 70px;
    object-fit: cover;
    padding: 10px;
}

.receiving-details{
    width: 50%;
}

h4{
    padding: 15px;
}

.country{
margin-top: 80px;
}

.credit-card{
    display: flex;
    margin-top: 15px;
}

.credit-card-details{
    margin-left: 20px;
}


