.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    text-align: start;
    color: #3e3b3b;
    font-size: 30px;
    margin-left: -26.6rem;
}

ul{
    width: 52%;
    margin-top: -3rem;
}

li{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: white;
    margin-top: 26px;
}

li p{
    margin-left: 50px;
    margin-top: 10px;
    font-size: 26px;
    color: #837c7c;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 57px;
    margin-right: 20px;
}

.add-button{
    background-color: #368abb;
    position: relative;
    width: 52%;
    left: 21px;
    color: white;
    border-color: #368abb;
    padding: 10px;
    margin-top: 11px;
    border-bottom: none;
    border-right: none;
}