.container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.receiver{
    /* text-align: start; */
    font-size: 30px;
    width: 60%;
    text-align: left;
    margin-bottom: -5px;
    font-weight: lighter;
    /* margin-left: -26.6rem; */
}

ul{
    width: 60%;
    padding: 0;
}

li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: white;
    margin-top: 26px;
}

li p{
    width: 60%;
    margin-left: 0px;
    margin-top: 10px;
    font-size: 20px;
    color: #767676;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    margin-right: 20px;
}

.add-button{
    background-color: #368abb;
    position: relative;
    width: 60%;
    font-size: 20px;
    /* left: 21px; */
    color: white;
    border-color: #368abb;
    padding: 14px;
    margin-top: 20px;
    border-bottom: none;
    border-right: none;
}

i{
    padding: 24px;
}